<div class="header-princ">
    <app-navbar></app-navbar>
</div>

<div class="content-wrapper">
    <div class="container">
        <div class="title">
            <h1 class="title-heading">Eligiendo un futuro</h1>
        </div>

        <div class="row">
            <div class="column">
                <div class="paragraph justify">
                    <p>En "<strong>Eligiendo un Futuro</strong>", nuestra misión es simplificar el proceso de búsqueda
                        de colegios, proporcionando a las familias la información y el apoyo que necesitan para tomar
                        decisiones educativas informadas y seguras. Nos esforzamos por ser el compañero confiable en el
                        emocionante viaje de encontrar el colegio perfecto para cada niñ@ o adulto con ganas de seguir
                        creciendo académicamente.</p>
                    <p>Además, para los centros educativos ubicados dentro de la Junta de Castilla y León, ofrecemos un
                        enfoque personalizado que se adapta a las políticas y requisitos específicos de esta región,
                        asegurando una experiencia de búsqueda de colegios aún más eficiente y relevante.</p>
                    <p>Comienza tu búsqueda hoy mismo y da el primer paso hacia un futuro educativo brillante para ti o
                        los tuyos con "<strong>Eligiendo un Futuro</strong>".</p>
                </div>
                <div class="image">
                    <img src="../../../assets/img/web/EligiendoPrincipal.jpeg" alt="Imagen 1">
                </div>
                <div class="paragraph justify">
                    <h2>Descubre las Ventajas de Nuestra Plataforma</h2>
                    <h3>Ventajas para los Colegios:</h3>
                    <ol>
                        <li><strong>Comunicación Directa:</strong> Nuestra plataforma facilita la comunicación directa
                            entre los colegios y las familias interesadas, permitiendo a los colegios compartir
                            información detallada sobre sus programas educativos, eventos y filosofía institucional.
                        </li>
                        <li><strong>Valoraciones Positivas:</strong> Los colegios pueden beneficiarse de las
                            valoraciones positivas y comentarios de las familias y estudiantes que han tenido
                            experiencias satisfactorias, lo que ayuda a fortalecer su reputación y atraer a nuevos
                            estudiantes.</li>
                        <li><strong>Visibilidad Mejorada:</strong> Al estar presentes en nuestra plataforma, los
                            colegios aumentan su visibilidad en línea y tienen la oportunidad de llegar a una audiencia
                            más amplia de padres y estudiantes potenciales en busca de la mejor opción educativa.</li>
                    </ol>
                    <h3>Ventajas para los Usuarios:</h3>
                    <ol>
                        <li><strong>Comunicación Transparente:</strong> Las familias pueden comunicarse directamente con
                            los colegios, hacer preguntas y obtener respuestas claras y rápidas, lo que les permite
                            tomar decisiones informadas sobre la educación de sus hijos.</li>
                        <li><strong>Valoraciones y Opiniones:</strong> Nuestra plataforma ofrece acceso a valoraciones y
                            opiniones auténticas de otros padres y estudiantes, proporcionando una perspectiva
                            invaluable sobre la calidad y la experiencia educativa de cada colegio.</li>
                        <li><strong>Filtros de Búsqueda Avanzados:</strong> Los usuarios pueden utilizar nuestros
                            filtros de búsqueda avanzados para encontrar colegios que cumplan con sus criterios
                            específicos, como ubicación, tipo de enseñanza, programas académicos y facilidades,
                            facilitando así el proceso de selección.</li>
                    </ol>
                    <p><strong>Únete a "Eligiendo un Futuro" hoy mismo y descubre cómo podemos ayudarte a encontrar el
                            colegio perfecto para tu hijo o institución educativa para alcanzar nuevas alturas de
                            excelencia académica y desarrollo personal.</strong></p>
                </div>
            </div>
            <div class="column">
                <div class="paragraph">
                    <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
                        <div class="mb-3 font-bold text-3xl">
                            <span class="text-blue-600"><strong>Una Solución, múltiples Beneficios</strong></span>
                        </div>
                        <div class="text-700 mb-6">
                            Haz de una busqueda díficil algo sencillo aprovechando los comentarios de otros usuarios, o
                            deja tus comentarios para que los colegios puedan reponderte.
                        </div>
                        <br>

                        <div class="text-700 mb-6">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-desktop text-4xl text-blue-500"></i>
                            </span>
                            <br>
                            Diseñado para nuestros usuarios, sabemos lo que buscas y ahora tienes donde encontrarlo.
                        </div>
                        <br>
                        <div class="text-700 mb-6">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-lock text-4xl text-blue-500"></i>
                            </span>
                            <br>
                            Nos comprometemos a proteger la privacidad y la seguridad de la información de nuestros
                            usuarios en todo momento.
                        </div>
                        <br>
                        <div class="text-700 mb-6">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
                            </span>
                            <br>
                            Nuestra plataforma ofrece una interfaz sencilla y amigable que permite a los usuarios
                            navegar y utilizar todas las funciones de manera fácil y rápida.
                        </div>
                        <br>
                        <div class="text-700 mb-6">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <a href="https://github.com/david87chdz/Eligiendo-un-futuro" target="_blank">
                                    <i class="pi pi-github text-4xl text-blue-500"></i>
                                </a>
                            </span>
                            <br>
                            Nuestro código está disponible en GitHub para que puedas revisarlo, contribuir y
                            personalizar según tus necesidades.
                        </div>
                        <br>
                        <div class="text-700 mb-6">
                            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                <a href="https://datosabiertos.jcyl.es/web/jcyl/set/es/educacion/centrosdocentes/1284200521439"
                                    target="_blank">
                                    <i class="pi pi-globe text-4xl text-blue-500"></i>
                                </a>
                            </span>
                            <br>
                            Nuestros datos están actualizados directamente de la web de la Junta de Castilla y León para
                            una información precisa y confiable.
                        </div>
                    </div>

                </div>
                <div class="image">
                    <img src="../../../assets/img/web/school-teacher-148135.svg" alt="Imagen 2">
                </div>
            </div>
        </div>
    </div>
</div>