<footer class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <a class="contact" href="mailto:eligiendounfuturo@gmail.com">Contacto: <a
          href="mailto:eligiendounfuturo@gmail.com">eligiendounfuturo@gmail.com</a></a>
    </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/eligiendounfuturo/" class="p-mr-2"><i class="pi pi-instagram"></i></a>
      <a href="https://github.com/david87chdz/EligiendoUnFuturoTfc" target="_blank" class="p-mr-2"><i
          class="pi pi-github"></i></a>
      <a href="https://www.linkedin.com/in/david-cerezo-hern%C3%A1ndez-30a8a5260/" target="_blank" class="p-mr-2"><i
          class="pi pi-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2024 Eligiendo un futuro. Todos los derechos reservados.</p>
  </div>
</footer>