<div class="header-princ">
  <app-navbar></app-navbar>
</div>

<div class="content-wrapper">
  <div class="card">
    <div class="form-container">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <h2>Restablecer contraseña</h2>
        <div class="form-group">
          <label for="password">Nueva contraseña</label>
          <input id="password" type="password" formControlName="password">
        </div>
      
        <div class="form-group">
          <label for="confirmPassword">Confirmar nueva contraseña</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword">
        </div>
      
        <button type="submit">Restablecer contraseña</button>
      </form>
    </div>
  </div>
  
  
</div>
